.button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 0;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
  &.button-large {
    font-size: 1.5rem;
  }
  &.button-green {
    background: $color-green;
    color: #1b1b1b;
  }
  font-weight: 600;
  text-transform: uppercase;
}
