.button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 0;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
}
.btn__large {
  padding: .5em 2em .9em 2em;
}
.btn__red {
  background: $red-brown;
  color: white;
}