.hero-banner {
  background-repeat: no-repeat;
}

.hero-banner--article {
  min-height: 278px;
  background-position: center;
  background-size: cover;
}

.hero{
  &.hero--x-large.hero__overlay{
    @media(min-width: 1400px){
      background-size: cover;
    }
    .hero__inner {
      width: 1000px;
      margin: 0 auto;
      color: white;
      min-height: 570px;
      position: relative;
      .hero-content{
        .hero-text {
          float:left;
        }
        .button-container{
          margin-top: 5em;
          float: right;
        }
      }
      a{
        background: $neon-green;
        color: black;
        font-size: 2rem;
        font-weight: 500;
        border: 0;
        border-radius: 1px;
        padding: 2rem 5.5rem;
        line-height: 1em;
        height: 6rem;
      }
      .page-width{
        position: absolute;
        bottom: 2em;
        width: 100%;
      }
      .mega-title {
        font-weight: 600;
        font-size: 9rem;
        margin-bottom: 0;
        text-shadow: 1px 1px 3px #000;
        line-height: 3.85rem;
        font-family: $mathlete; 
      }
      .mega-subtitle{
        p {
          margin-top: 0;
          font-weight: 600;
          text-shadow: 1px 1px 2px #000;
          font-size: 8rem;
          font-family: $mathlete; 
        }
      }
    }
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway', sans-serif;
}