html {
  background-color: $color-body;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.page-width {
  padding: 0 25px;
}

.row-wrap {
  flex-wrap: wrap;
  display: flex;
}