.product-single__thumbnail-image {
  border: 2px solid transparent;

  .active-thumbnail & {
    border-color: $color-border;
  }
}

.product-thumbs {
  padding: 0;
  li {
    display: inline-block;
    list-style: none;
  }
}

header{
  &.product-title {
    margin-top: 2em;
  }
}