
.collection-list-item {
  height: 100%;
  text-align: center;
}

.relative-column {
  position: relative;
  &:nth-child(odd) {
    .btn {
      background-color: $red-brown;
      color: white;
    }
  }
  &:nth-child(even) {
    .btn{
      background-color: $neon-green;
      color: black;
    }
  }
}


.collection-list__image {
  min-width: 320px;
  width: 100%;
  display: block;
  .btn {
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 70%;
    right: 3em;
    padding: .65em 4em .35em 4em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 1px;
  }
}

.collection-list__title {
  flex-basis: 100%;
  display: inline-block;
}



.collection-description {
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  display: block;
  clear: both;
  float: none;
  text-align: left;
  padding-left: 2em;
  margin-top: 1em;
}